* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
    font-family: "Roboto Condensed", sans-serif;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: #000;
}

.main_container {
    max-width: 48.875rem; /* 782px */
    margin: 0 auto;
}

@media (max-width: 900px) {
    .main_container {
        max-width: calc(100% - 7.375rem); /* 100% - 118px */
    }
}

.btn {
    &_green {
        width: 100%;
        height: 5.375rem; /* 86px */
        display: flex;
        align-items: center;
        justify-content: center;
        background: #A2CE42;
        border-radius: 0.875rem; /* 14px */
        color: #fff;
        font-size: 2rem; /* 32px */
        line-height: 3.125rem; /* 50px */
        font-weight: 500;
        box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, .15); /* 0 5px 15px */
    }

    &_orange {
        width: 100%;
        font-size: 2rem; /* 32px */
        line-height: 1.4375rem; /* 23px */
        color: #fff;
        text-transform: uppercase;
        background: #EA8674;
        border-radius: 0.875rem; /* 14px */
        padding: 1.9375rem 0 2rem; /* 31px 0 32px */
        text-align: center;
        box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, .15); /* 0 5px 15px */
    }

    &_gray {
        width: 100%;
        font-size: 2rem; /* 32px */
        line-height: 1.4375rem; /* 23px */
        color: #fff;
        text-transform: uppercase;
        background: #898989;
        border-radius: 0.875rem; /* 14px */
        padding: 1.9375rem 0 2rem; /* 31px 0 32px */
        text-align: center;
        box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, .15); /* 0 5px 15px */
    }
}

// Header
.header {
    padding: 4rem 0 5.0625rem; /* 64px 0 81px */

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 0.75rem; /* 12px */
        user-select: none;
        cursor: pointer;
        font-size: 1.6875rem; /* 27px */
        line-height: 1.1875rem; /* 19px */
        font-weight: 300;
        text-transform: uppercase;

        img {
            width: 1.813rem;
        }
    }

    &__date {
        font-size: 1.875rem; /* 30px */
        line-height: 1.3125rem; /* 21px */
        color: #A0BF3E;
    }
}
// Header end

// Home
.home {
    padding: 5.5rem 0 13rem; /* 88px 0 208px */

    &__title {
        text-align: center;
        font-size: 2.75rem; /* 44px */
        font-weight: bold;
        line-height: 2.75rem; /* 44px */
        margin-bottom: 3.75rem; /* 60px */

        span {
            font-size: 1.625rem; /* 26px */
            font-weight: 400;
            color: #2E2E2E;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.875rem; /* 14px */

        p {
            font-size: 1.875rem; /* 30px */
            line-height: 2.75rem; /* 44px */
            color: #6D6D6D;
        }

        button img {
            width: 3.125rem;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 1.875rem; /* 30px */

        &_item {
            position: relative;
            z-index: 1;
            height: 27.875rem; /* 446px */
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3.125rem 3.25rem 2.6875rem 3.1875rem; /* 50px 52px 43px 51px */

            .alert {
                &-new {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 3.25rem; /* 52px */
                    height: 3.25rem; /* 52px */
                    border-radius: 50%;
                    background: #A0BF3E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem; /* 16px */
                    line-height: 2.125rem; /* 34px */
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #000;
                }

                &-success {
                    position: absolute;
                    top: 0;
                    right: 0;

                    img {
                        width: 3.25rem;
                    }
                }
            }

            .main_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 2.5rem; /* 40px */
                object-fit: cover;
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 2.5rem; /* 40px */
                z-index: -1;
                background: rgba(0, 0, 0, 0.7);
            }

            &__head {
                span {
                    font-size: 1.125rem; /* 18px */
                    line-height: 1.3125rem; /* 21px */
                    opacity: 0.5;
                    margin-bottom: 3.25rem; /* 52px */
                }

                h3 {
                    font-size: 2.75rem; /* 44px */
                    line-height: 2.75rem; /* 44px */
                    font-weight: bold;
                    margin-bottom: 2.8125rem; /* 45px */
                }

                p {
                    font-size: 1.375rem; /* 22px */
                    line-height: 1.4375rem; /* 23px */
                    font-weight: 300;
                    max-width: 27.3125rem; /* 437px */
                }
            }

            &__bottom {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                p {
                    font-size: 1.5625rem; /* 25px */
                    font-weight: 300;

                    b {
                        font-weight: bold;
                    }

                    span {
                        color: #EA8674;
                        font-weight: bold;
                    }
                }

                img {
                    width: 8rem;
                }
            }

            &.success::after {
                background: #4D572E;
                opacity: 0.5;
            }
        }
    }
}
// Home end

// Nav
.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: #2E2E2E;
    border-radius: 3.125rem 3.125rem 0 0; /* 50px 50px 0 0 */
    padding: 2.75rem 0 3rem; /* 44px 0 48px */

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 1rem; /* 16px */
        font-size: 1.625rem; /* 26px */
        line-height: 1.6875rem; /* 27px */
        color: #fff;
        user-select: none;
        cursor: pointer;

        .icon {
            position: relative;

            span {
                width: 1.4375rem; /* 23px */
                height: 1.4375rem; /* 23px */
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                background: #D61E1E;
                color: #fff;
                font-size: 0.875rem; /* 14px */
                line-height: 1.6875rem; /* 27px */
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 3.625rem;
            }
        }
    }
}
// Nav end

// Modal
.modal {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__bg {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__close {
        position: absolute;
        top: -5rem; /* -80px */
        right: -3.6875rem; /* -59px */

        img {
            width: 6rem;
        }
    }

    &__content {
        position: relative;
        background: #fff;
        width: 48.875rem; /* 782px */
        border-radius: 2.5rem; /* 40px */
        padding: 6.5rem 3.1875rem 5.5rem; /* 104px 51px 88px */
    }

    h3 {
        font-size: 2.75rem; /* 44px */
        line-height: 2.75rem; /* 44px */
        font-weight: bold;
        margin-bottom: 3.6875rem; /* 59px */
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.75rem; /* 28px */
        margin-bottom: 5.25rem; /* 84px */

        label {
            display: flex;
            align-items: center;
            gap: 1.0625rem; /* 17px */
            user-select: none;
            cursor: pointer;

            .icon {
                width: 2.5rem; /* 40px */
                height: 2.5rem; /* 40px */
                border-radius: 0.875rem; /* 14px */
                border: 1px solid #E0E0E0;
                background: #FAFAFA;
                position: relative;

                &::before {
                    content: '';
                    width: 0.6875rem; /* 11px */
                    height: 0.6875rem; /* 11px */
                    border-radius: 50%;
                    background: #fff;
                    border: 1px solid #E0E0E0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            input {
                display: none;
            }

            input:checked + .icon::before {
                background: #F9806D;
            }
        }
    }

    h4 {
        font-size: 2.125rem; /* 34px */
        line-height: 2.75rem; /* 44px */
        font-weight: 400;
        margin-bottom: 2rem; /* 32px */
    }

    .select_date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.6875rem; /* 27px */
        margin-bottom: 4.3125rem; /* 69px */

        &__item {
            width: 100%;
            position: relative;

            input {
                height: 5.375rem; /* 86px */
                width: 100%;
                border: 1px solid #E0E0E0;
                border-radius: 0.875rem; /* 14px */
                background: #FAFAFA;
                font-size: 1.6875rem; /* 27px */
                line-height: 2.75rem; /* 44px */
                color: #878787;
                padding: 0 2rem 0 2.4375rem; /* 0 32px 0 39px */
            }
        }

        span {
            font-size: 1.6875rem; /* 27px */
            line-height: 2.75rem; /* 44px */
            color: #000;
        }
    }
}

@media (max-width: 900px) {
    .modal__content {
        width: calc(100% - 7.375rem); /* 100% - 118px */
    }
}

// Modal end

// Notification
.notification {
    padding-bottom: 11.875rem; /* 190px */

    &__title {
        margin-bottom: 3.625rem; /* 58px */
        font-size: 2.75rem; /* 44px */
        line-height: 1.9375rem; /* 31px */
        font-weight: bold;

        span {
            font-weight: 400;
            color: #999999;
        }
    }

    &__card {
        position: relative;
        background: #F0F0F0;
        border-radius: 2.5rem; /* 40px */
        padding: 2.4375rem 3.1875rem 2.125rem 2.9375rem; /* 39px 51px 34px 47px */
        transition: .3s ease all;

        &:hover {
            background: #DFDFDF;
        }

        &_wrap {
            display: flex;
            flex-direction: column;
            gap: 2.25rem; /* 36px */
        }

        .alert-red {
            position: absolute;
            width: 2.0625rem; /* 33px */
            height: 2.0625rem; /* 33px */
            border-radius: 50%;
            right: 0;
            top: -1rem; /* -16px */
            background: #D61E1E;
        }

        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.625rem; /* 26px */
            line-height: 1.125rem; /* 18px */
            font-weight: bold;
            color: #000;
            margin-bottom: 1.125rem; /* 18px */

            span {
                font-size: 1.375rem; /* 22px */
                font-weight: 400;
                color: #EA8674;
            }
        }

        p {
            font-size: 1.375rem; /* 22px */
            line-height: 1rem; /* 16px */
            font-weight: 400;
            color: #707070;
            margin-bottom: 2rem; /* 32px */
        }

        &_link {
            font-size: 1.875rem; /* 30px */
            line-height: 1.3125rem; /* 21px */
            color: #A0BF3E;
        }
    }
}

// Notification end

// Course
.course {
    padding-bottom: 11.875rem; /* 190px */

    &__title {
        font-size: 2.75rem; /* 44px */
        line-height: 1.9375rem; /* 31px */
        font-weight: bold;
        margin-bottom: 2.1875rem; /* 35px */
    }

    &__description {
        font-size: 1.375rem; /* 22px */
        line-height: 2.08125rem; /* 33.3px */
        font-weight: 300;
        color: #676767;
        margin-bottom: 2.6875rem; /* 43px */
        max-width: 37.625rem; /* 602px */
    }

    &__card {
        background: #F0F0F0;
        border-radius: 2.5rem; /* 40px */
        padding: 2.4375rem 3.1875rem 3.375rem; /* 39px 51px 54px */
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, .13); /* 0 4px 10px */
        transition: .3s ease all;
        cursor: pointer;

        &_wrap {
            display: flex;
            flex-direction: column;
            gap: 1.75rem; /* 28px */
        }

        &_head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.6875rem; /* 43px */

            &__title {
                font-size: 2.25rem; /* 36px */
                line-height: 1.625rem; /* 26px */
                font-weight: bold;

                span {
                    color: #EA8674;
                }
            }

            &__link {
                color: #A0BF3E;
                font-size: 1.875rem; /* 30px */
                line-height: 1.3125rem; /* 21px */

                &.disabled {
                    color: #969696;
                }
            }
        }

        &_foot {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__description {
                font-size: 1.375rem; /* 22px */
                line-height: 1rem; /* 16px */
                color: #676767;
                font-weight: 300;
            }

            &__result {
                font-size: 1.375rem; /* 22px */
                line-height: 1rem; /* 16px */
                font-weight: 300;
                color: #676767;
                display: none;

                span {
                    font-weight: bold;
                    color: #EA8674;
                }
            }
        }

        &:hover {
            background: #DFDFDF;
            
            .course__card_foot__result {
                display: block;
            }
        }
    }
}
// Course end

// Statistic
.statistic {
    padding-bottom: 11.875rem; /* 190px */

    &__title {
        font-size: 2.75rem; /* 44px */
        line-height: 1.9375rem; /* 31px */
        font-weight: bold;
        margin-bottom: 0.875rem; /* 14px */
    }

    &__description {
        font-size: 1.5rem; /* 24px */
        line-height: 2.75rem; /* 44px */
        font-weight: 300;
        color: #777777;
        margin-bottom: 0.4375rem; /* 7px */

        span {
            font-weight: 500;
            color: #F9806D;
        }
    }

    &__select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        font-size: 1.6875rem; /* 27px */
        line-height: 2.75rem; /* 44px */
        color: #575757;
        padding: 1.3125rem 3rem; /* 21px 48px */
        border-radius: 0.875rem; /* 14px */
        border: 1px solid #E0E0E0;
        background: #FAFAFA;
        background-image: url('../images/select-icon.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 1.75rem) center; /* 28px */
        cursor: pointer;
        outline: none;
        margin-bottom: 2.375rem; /* 38px */
    }

    .result_text {
        font-size: 1.5rem; /* 24px */
        line-height: 2.75rem; /* 44px */
        font-weight: 300;
        color: #777777;
        margin-bottom: 0.75rem; /* 12px */
    }
}
// Statistic end

// User list
.user_list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F4F4F4;
        border-radius: 2.5rem; /* 40px */
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, .13); /* 0 4px 10px */
        padding: 1.5625rem 3.1875rem 1.625rem 0; /* 25px 51px 26px 0 */

        &_name {
            display: flex;
            align-items: center;

            span {
                width: 6.375rem; /* 102px */
                flex-shrink: 0;
                font-size: 2.375rem; /* 38px */
                line-height: 1.6875rem; /* 27px */
                color: #979797;
                text-align: center;
                padding-right: 0.1875rem; /* 3px */
            }

            h3 {
                font-size: 2.375rem; /* 38px */
                line-height: 1.6875rem; /* 27px */
                font-weight: 400;
                color: #777777;
            }
        }

        p {
            font-size: 2.5rem; /* 40px */
            line-height: 1.75rem; /* 28px */
            color: #777777;
        }

        &.active {
            background: #EC9585;

            span {
                color: #fff;
                font-weight: bold;
            }

            h3, p {
                color: #000;
                font-weight: bold;
            }
        }
    }
}
// User list end

// Test
.test {
    padding-bottom: 15.3125rem; /* 245px */

    &__iframe {
        width: 100%;
        height: 56.25rem; /* 900px */
        background: #D9D9D9;
        margin-top: -3.25rem; /* -52px */
    }

    &__content {
        max-width: 42.5rem; /* 680px */
        margin: 2.9375rem auto 0; /* 47px auto 0 */
    }

    .btn_gray {
        margin: 1.6875rem 0 4.125rem; /* 27px 0 66px */
    }

    .time {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.0625rem; /* 17px */
        font-size: 3.75rem; /* 60px */
        line-height: 2.6875rem; /* 43px */
        color: #383838;
        font-weight: 500;

        img {
            width: 3.938rem;
        }
    }
}
// Test end

// Result block
.result-block {
    padding: 2.4375rem 0 12rem; /* 39px 0 192px */

    &__head {
        text-align: center;
        max-width: 42.5rem; /* 680px */
        margin: 0 auto;

        img {
            width: 11.438rem;
        }

        h2 {
            margin: 2.8125rem 0 2.0625rem; /* 45px 0 33px */
            font-size: 2.75rem; /* 44px */
            line-height: 1.9375rem; /* 31px */
            font-weight: bold;
        }

        h4 {
            font-size: 2rem; /* 32px */
            line-height: 1.4375rem; /* 23px */
            font-weight: 400;
            color: #3F3F3F;
            margin-bottom: 1rem; /* 16px */
        }

        p {
            font-size: 1.625rem; /* 26px */
            line-height: 1.125rem; /* 18px */
            font-weight: 300;
            color: #888888;
            margin-bottom: 3.0625rem; /* 49px */
        }

        h3 {
            font-size: 2.75rem; /* 44px */
            line-height: 1.9375rem; /* 31px */
            font-weight: bold;
            margin-bottom: 5.5625rem; /* 89px */
            
            span {
                color: #A0BF3E;

                &.text-orange {
                    color: #EA8674;
                }
            }
        }
    }
}
// Result block end

@media (max-width: 850px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .test__iframe {
        height: 40rem;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 7px;
    }

    .test__iframe {
        height: 35rem;
    }
}

@media (max-width: 400px) {
    .modal {
        &__close {
            top: -4rem;
            right: -3rem;

            img {
                width: 5rem;
            }
        }

        .select_date {
            flex-direction: column;
            gap: .3rem;
        }
    }

    .notification__card {
        padding: 2rem;
    }
}